

.container {
  grid-gap: 5px;
  width: 100%;
}
.dog {
  max-width: 100%;
  float:left;
  width:400px;
  height:400px;
  border:1px solid black;
  /*display:  table-cell;*/
  /*vertical-align: middle;*/
  align-content: center;
  align-items: center;
  padding: 10px;
  min-width: 100px;
  box-sizing: border-box;
}

.dog img {
  max-width: 100%;
  max-height:100%;
  display: block;
  margin: auto;
  /*width: 100%;*/
  /*height: 100%;*/
}

.dog video {
  max-width: 100%;
  max-height:100%;
  display: block;
  margin: auto;
  /*width: 100%;*/
  /*height: 100%;*/
}

.button {
  height:50px;
  width:200px;
}

